BETTER_AUTH_SECRET=XXXXXXXXXXXXXX
BETTER_AUTH_API_KEY=XXXXXXXXXXXXXX
BETTER_AUTH_URL=XXXXXXXXXXXXXX
DATABASE_URL=XXXXXXXXXXXXXX
GOOGLE_CLIENT_ID=XXXXXXXXXXXXXX
GOOGLE_CLIENT_SECRET=XXXXXXXXXXXXXX
RESEND_API_KEY=XXXXXXXXXXXXXX
NEXT_PUBLIC_APP_URL=XXXXXXXXXXXXXX
SUPABASE_URL=XXXXXXXXXXXXXX
SUPABASE_SERVICE_ROLE_KEY=XXXXXXXXXXXXXX
NEXT_PUBLIC_UNSPLASH_APP_ID=XXXXXXXXXXXXXX
NEXT_PUBLIC_UNSPLASH_ACCESS_KEY=XXXXXXXXXXXXXX
NEXT_PUBLIC_UNSPLASH_SECRET_KEY=XXXXXXXXXXXXXX
HF_TOKEN=XXXXXXXXXXXXXX
